# .gitignore in this what ever files and folders are mentioned all are ignored during git push means no senstive files is pushed to github.....

# my rough-practice folder where i do cracy stuff just for clearing my understanding
# this is to ignore rough-practice doing git push means this folder and files inside it will not added into staging area...
rough-pratice/ 

